# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app


# Visual Studio Stuff:
/code/Debug/*
/code/*/*/Debug/*
/code/*/vs/*
/code/x32/*
/code/x64/*
/code/*/*/x86/*
/code/*/*/x32/*
/code/*/*/x64/*
/code/*/*/x86/*
/code/.vs/qaeaka-client/v15/*